<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <title>Additionneur</title>
  <link rel="stylesheet" href="/static/style.css">
  <script defer src="https://umami.antoinedagorn.com/script.js" data-website-id="cba6a5c7-bde6-4777-bffc-ee56df146066"></script>
</head>

<body>
  <h1>Additionneur</h1>
  <form action="/calculator/add" method="post">
    <input type="number" name="val1">
    <span>+</span>
    <input type="number" name="val2">
    <span>=</span>
    <span>{{ resultat }}</span>
    <button type="submit">Calculer</button>
  </form>

</body>

</html>
