<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Antoine Dagorn</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet" />

</head>

<body>
    <header style="background-color: #3498db; color: white; padding: 40px 20px;">
        <div
            style="max-width: 900px; margin: auto; display: flex; align-items: center; flex-wrap: wrap; justify-content: center; gap: 20px;">
            <div style="flex-shrink: 0; text-align: center;">
                <img src="/static/avatar.png" alt="Avatar Antoine"
                    style="width: 100px; height: 100px; object-fit: cover; border-radius: 50%; box-shadow: 0 4px 10px rgba(0,0,0,0.1);" />
            </div>
            <div style="text-align: center;">
                <h1 style="margin: 0; font-size: 36px;">Antoine Dagorn</h1>
                <p style="font-size: 16px; margin-top: 10px;">Ingénieur – Passionné par les
                    systèmes
                    et la donnée</p>
            </div>        
        </div>
        <div class="lang-container">
            <button class="lang-button" data-lang="fr" aria-label="Français">🇫🇷</button>
            <button class="lang-button" data-lang="en" aria-label="English">🇺🇸</button>
        </div>
    </header>


    <nav>
        <a href="#about">À propos</a>
        <a href="#projects">Projets</a>
        <a href="#skills">Compétences</a>
        <a href="#contact">Contact</a>
    </nav>

    <main>
        <section id="about" class="section">
            <h2>À propos</h2>
            <p>Jeune ingénieur diplômé d’IMT Atlantique, j’ai réalisé 3 années d’alternance chez Wavestone sur des
                projets IT structurants (ERP RH, IAM, migration de données, mission à New York).
                J’ai ensuite rejoint une startup à Bangkok pour contribuer au lancement d’un produit mobile, tout en
                structurant les aspects financiers et techniques de l’entreprise.</p>
        </section>



        <section id="projects" class="section projects">
            <h2>Projets</h2>
            <div class="card">
                <h3>DreamFrame</h3>
                <p>Génère un nouvel arrière-plan à partir d’un selfie à l’aide de Stable Diffusion.
                    Détection de la personne via YOLO et SAM pour créer un masque, puis génération d’une image avec un
                    pipeline Stable Diffusion personnalisé.</p>
            </div>
            <div class="card">
                <h3>Ce site web</h3>
                <p>Créé pour servir de portfolio. Déployé avec Docker sur AWS.
                </p>
            </div>
        </section>

        <section id="skills" class="section skills">
            <h2>Compétences</h2>
            <ul>
                <li>Python</li>
                <li>SQL (PostgreSQL)</li>
                <li>FastAPI</li>
                <li>Docker</li>
                <li>Azure Data Factory</li>
                <li>Power BI</li>
                <li>Power Automate</li>
                <li>Retool</li>
                <li>Jira</li>
                <li>Anglais C1</li>
                <li>Gestion de projet</li>
                <li>GCP - BigQuerry</li>
            </ul>
        </section>

        <section id="contact" class="section contact">
            <h2>Contact</h2>
            <a href="https://www.linkedin.com/in/antoinedagorn/" target="_blank">LinkedIn</a>
            <a href="https://github.com/Eniotarixx" target="_blank">GitHub</a>
            <a href="mailto:antoine.dagorn@outlook.com" target="_blank">Email</a>
        </section>
    </main>

    <footer>
        © 2025 Antoine Dagorn – Tous droits réservés
    </footer>
</body>

</html>